# Group attributes for sample classification
scientific_name	species
tissue	tissue
sample_group	condition

# Group values to include
species:
  - "Pogonomyrmex barbatus"
  - "Pogonomyrmex californicus"
  - "Pogonomyrmex rugosus"
  - "Pogonomyrmex occidentalis"

tissue:
  - "brain"
  - "Brain"
  - "head"
  - "whole body"
  - "antennae"
  - "venom apparatus"

condition:
  - "worker"
  - "queen"
  - "larva"
  - "pupa"
  - "forager"
  - "Forager" 